# Security & Production Settings
SECRET_KEY=your-custom-secure-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, localhost
SECURE_SSL_REDIRECT=False

# Database Configuration (sqlite3 | postgresql | mysql)
DB_ENGINE=sqlite3

# PostgreSQL / MySQL Connection Details (Optional - required only if DB_ENGINE=postgresql or mysql)
DB_NAME=invoice_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
